/* Navigation (Superfish) */
.mainnav { display:none; }
#block-mainnavigation {
  ul.sf-menu { width: 100%; background-color: $primary; text-align: center; padding: 4px 0;
    ul { width: auto; }
    li {
      a {background-color: $primary; display: block; padding: 15px 30px; color: #FFF; font-weight:normal; font-size: 1.2rem; border-right: 1px solid #FFF;}
      a:hover {background-color: $secondary;}
      a.sf-depth-2 {padding: 10px 20px; border: none; text-align: left; }
    }
    li:hover {background-color: $secondary; display: block;}
    li:hover > ul, li.sfHover > ul { top: 3.3rem; }
    li:last-child a {border-right: none;}
  }
}

/* Mobile Menu (mlpushmenu) */
.mp-level { background: $primary; }
.mp-menu {
  h2 { color: #fff; background: #004c8a; }
  ul {
    li { display:block; list-style: none; padding: 0;
      a { color: #fff; text-decoration: none; font-style: normal; line-height: 1.6; font-family:Helvetica, Arial, sans-serif; }
      .fa { margin-right: 5px; }
    }
    li.user-menu {
      a { background: rgba(255, 255, 255, 0.2); }
    }
    li.user-menu:before { color: #fff;}
  }
  #edit-combine { border-radius: 0; margin-bottom: 0; }
  a.mobile-cart { display:block; color: #fff; padding: 0.7em 1em; text-align: right; font-weight: bold;
    i { margin-right: 10px; }
  }
}
#menu-trigger { color: $primary; float: right;
  .fa { line-height: 75px; }
}

/* ===== == = === 60em (960px) === = == ===== */
@media only screen and (min-width : 60em) {
  #menu-trigger { display:none; }
  .mainnav { display:block; }
}
