<div id="wrapper" >
  <div class="mp-pusher" id="mp-pusher">
    <nav id="mp-menu" class="mp-menu">
      <div class="mp-level">
        <h2>Menu</h2>
        {{ mobile_menu }}
      </div>
    </nav>
    <header class="section" aria-label="{{ 'Site header'|t }}">
	  <div class="container">
	    <div class="row">
	      <div class ="column shrink logo">
	        <a href="/"><img src="{{ base_path ~ directory }}/images/logo.png" alt="Logo" /></a>
	      </div>
	      <div class="column main-menu">
	        <a href="#" id="menu-trigger"><i class="fa fa-3x fa-bars"></i></a>
	        <div class="mainnav">
	          {{ page.navigation}}
	        </div>
	      </div>
	    </div>
	  </div>
	</header>

    <!-- Rest of you code -->

  </div>
</div><!-- End of wrapper -->